---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { posts } from "../../posts";

export const getStaticPaths = (() => {
  return posts.map((post) => ({
    params: { postId: post.id },
  }));
}) satisfies GetStaticPaths;

const { postId } = Astro.params;
const post = posts.find((post) => post.id == postId);
---

<Layout>
  <a class="text-gray-600 hover:text-gray-900 mb-12" href="/"
    >Back to homepage</a
  >
  <h1 class="text-3xl font-bold">{post?.title || "Post title"}</h1>
  <p>{post?.content}</p>
</Layout>
